PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2MjRkZmZjOC0xNTE3LTQzZjItODgyNS01MjQ4ODg4YTM0MWEiLCJlbWFpbCI6Imxpc2Eua2lsa2VyQHBpbmF0YS5jbG91ZCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIxNTdhNThlOTdmNDgzNzQyZjgwMyIsInNjb3BlZEtleVNlY3JldCI6Ijg2YjI1NTViYzc5NWJhYzFlODBiYmNmYzE0YTk1MDg5MDYyZmRmMzg0ZjYwMmY4MzY1MGZhMGIwNmFmNmMyODUiLCJleHAiOjE3ODYxMTc5Mjd9.6o5eQlFLO7Y69S75dzYXKjmVMFc9u5JCrcDn9pzYs-E
PINATA_GATEWAY=lime-faithful-halibut-967.mypinata.cloud